html, body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: Arial, sans-serif;
  background: linear-gradient(-51.8deg, black 50%, white 50%);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.card {
  background-color: white;
  box-shadow: -10px -10px 20px rgba(0, 0, 0, 0.1);
  padding: 24px;
  width: 350px;
  text-align: center;
}

.profile-img {
  width: 100px;
  border-radius: 50%;
  height: 100px;
  object-fit: cover;
  margin-bottom: 16px;
  border: 5px solid black;
}

.name {
  font-size: 24px;
  font-weight: bold;
  margin: 0 0 4px 0;
  font-family: 'Montserrat';
}

.title {
  font-size: 16px;
  color: #666;
  margin-bottom: 26px;
  font-family: 'Montserrat';
  margin-top: 0px;
}

.contact-info {
  text-align: left;
  margin-bottom: 24px;
}

#company {
  cursor: auto;
}

.contact-item span{
  cursor: pointer;
  margin-left: 10px;
}

.contact-item {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}

.contact-item img {
  width: 20px;
  color: aqua;
}

.icon {
  margin-right: 8px;
  color: #666;
}

.social-links {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin-bottom: 24px;
}

.social-links a {
  width: 24px;
  height: 24px;
}

.linkedin, .facebook, .instagram, .twitter {
  color: #2c2c2c;
  transition: all 0.45s ease;
}

.linkedin:hover, .facebook:hover, .instagram:hover, .twitter:hover {
  color: #000;
}

.download-button {
  background-color: black;
  color: white;
  border: 3px solid black;
  padding: 10px 16px;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 14px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  transition: all 0.45s ease;
}

.download-button:hover {
  background-color: white;
  color: black;
}

.button-icon {
  margin-right: 8px;
}

.button-text-small {
  display: none;
}

@media (max-width: 660px) {
  .button-text-large {
    display: none;
  }
  
  .button-text-small {
    display: inline;
  }
}